.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #eff6ff; /* Azul Hielo */
}

main {
    flex: 1;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#blazor-error-ui {
    background: #fff;
    color: #ef4444;
    bottom: 0;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.05);
    display: none;
    left: 0;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    border-top: 2px solid #ef4444;
    text-align: center;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
